.about {
  display: flex;
  height: calc(100vh - 4rem);
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
}

.text-container {
  transition: opacity 1s ease-in;
  transition: all 1s ease-in;
  width: 35vw;
  margin-right: 60px;
}

.aboutWord {
  margin-bottom: 30px;
  color: black;
  font-size: 50px;
}

.pngImage {
  width: 50vw;
  transition: opacity 1s ease-in;
  transition: all 1s ease-in;
}
