.about {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: calc(100vh - 4rem);
}

.aboutContainer {
  width: 40%;
  padding-top: 4rem;
  transition: opacity 1s ease-in;
  transition: all 1s ease-in;
}

.aboutWord {
  margin-bottom: 3rem;
  color: burlywood;
  font-size: 1.5rem;
}

.pngImage {
  width: 38rem;
  position: absolute;
  right: -10%;
  top: 110%;
  transition: opacity 1s ease-in;
  transition: all 1s ease-in;
}
