.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: calc(100vh - 4rem);
}

.contactContainer {
  position: relative;
  top: 20%;
  transition: opacity ease-in 0.5s;
  transition: all 1s ease-in;
}

.background {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40rem;
}

.contactMe {
  margin: 1rem;
  position: relative;
}

.contactText {
  position: relative;
}

.mytext {
  padding: 4rem;
  position: relative;
}

.github p {
  font-weight: 500;
  position: relative;
}
