.contact {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: calc(100vh - 4rem);
  background-image: url("./background.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.contactContainer {
  transition: opacity ease-in 0.5s;
  transition: all 1s ease-in;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.contactMe {
  margin-bottom: 20px;
}

.contactText {
  margin-bottom: 20px;
  font-size: 18px;
}

.mytext {
  margin-bottom: 20px;
  font-size: 18px;
}

.github p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
}
