.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
}

.myphoto {
  width: 25rem;
}

.introtext {
  margin: 2rem;
}

.smallerText {
  padding-top: 2rem;
}

.camera_picture {
  width: 15rem;
  position: absolute;
  top: 20rem;
  right: 2rem;
}
