* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

.app {
  height: 100vh;
}
.sections {
  width: 100%;
  height: calc(100vh - 4rem);
  background-color: white;
  position: relative;
  top: 4rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.sections > * {
  scroll-snap-align: start;
}
